<ons-page >
	<ons-toolbar fixed-style>
		<div class="left"><ons-back-button>Back</ons-back-button></div>
		<div class="center">Settings</div>
	</ons-toolbar>
	<ons-list>
		<ons-list-header>Server/account</ons-list-header>
		<ons-list-item modifier="chevron" ng-bind="$storage.serverUrl" ng-click="app.navigator.pushPage('pages/settings/server.html');"></ons-list-item>
		<ons-list-header>Project</ons-list-header>
		<ons-list-item modifier="chevron" ng-bind="$storage.project" ng-click="app.navigator.pushPage('pages/settings/project.html');"></ons-list-item>
	</ons-list>
</ons-page>
