<ons-page ng-controller="ProjectSettingsController" class="settings project-settings">
	<ons-toolbar fixed-style>
		<div class="left"><ons-back-button></ons-back-button></div>
		<div class="center">Project</div>
		<div class="right"><ons-toolbar-button ng-click="app.navigator.pushPage('recent_projects.html')"><i class="fa fa-history"></i></ons-toolbar-button></div>
	</ons-toolbar>
	<ons-list class="gl-tree">
		<ons-list-header>
		<i class="fa fa-pencil"></i>Current
		</ons-list-header>
		<ons-list-item>
			<span /><input type="text" class="text-input text-input--transparent" placeholder="Project" ng-model="$storage.project">
		</ons-list-item>
		<ons-list-header>
			<i class="fa fa-bars"></i>
			<div class="node-label">My projects</div>
		</ons-list-header>
		<ons-list-item ng-repeat="project in userProjects" modifier="tappable" ng-click="$storage.project=project.project">
			{{ project.project }}
		</ons-list-item>
	</ons-list>


	<ons-template id="recent_projects.html">
		<ons-page class="settings project-settings">
			<ons-toolbar fixed-style>
				<div class="left"><ons-back-button></ons-back-button></div>
				<div class="center">Recently used projects</div>
			</ons-toolbar>
			<ons-list class="gl-tree">
				<ons-list-item ng-repeat="project in $storage.recentProjects" modifier="tappable" ng-click="$storage.project=project;app.navigator.popPage()">
					{{ project }}
				</ons-list-item>
			</ons-list>
		</ons-page>
	</ons-template>
</ons-page>
