<ons-page ng-controller="ProjectSettingsController" class="settings project-settings">
	<ons-toolbar fixed-style>
		<div class="left"><ons-back-button></ons-back-button></div>
		<div class="center">Project</div>
	</ons-toolbar>
	<ons-list ng-controller="AccordionController" class="gl-tree">
		<ons-list-item>
			<ons-row>
				<ons-col width="36px">
					<ons-icon icon="ion-edit" size="24px" fixed-width="true" style="color: gray"></ons-icon>
				</ons-col>
				<ons-col>
					<span /><input type="text" class="text-input text-input--transparent" placeholder="Project" ng-model="$storage.project">
				</ons-col>
			</ons-row>
		</ons-list-item>
		<ons-list-item class="group" gl-click="toggleAccordion('recent')">
			<i class="fa toggle-button" ng-class="{expanded: isAccordionShown('recent')}"></i>
			<div class="node-label">Recent projects</div>
		</ons-list-item>
		<div class="group-content" ng-show="isAccordionShown('recent')" gl-height-animation>
			<ons-list-item ng-repeat="project in $storage.recentProjects" modifier="tappable" ng-click="$storage.project=project">
				{{ project }}
			</ons-list-item>
		</div>
		<ons-list-item class="group" gl-click="toggleAccordion('my-projects')">
			<i class="fa toggle-button" ng-class="{expanded: isAccordionShown('my-projects')}"></i>
			<div class="node-label">My projects</div>
		</ons-list-item>
		<div class="group-content" ng-show="isAccordionShown('my-projects')" gl-height-animation>
			<ons-list-item ng-repeat="project in userProjects" modifier="tappable" ng-click="$storage.project=project.project">
				{{ project.project }}
			</ons-list-item>
		</div>
	</ons-list>
</ons-page>
