@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-o-min-device-pixel-ratio: 15/10)

{

}

@-moz-document url-prefix() { 
	#test ons-scroller, .map-panel ons-scroller, .map-toolbar-container ons-scroller {
		overflow: hidden!important;
	}
}

@media screen and (orientation: portrait) {
	div#map {
		top: 40px;
		left: 0;
	}
}

@media screen and (orientation: landscape) {
	div#map {
		position: absolute;
		top: 0;
		left: 40px;
	}
}

.page__content {
	margin-top: 0px!important;
}

.map-toolbar {
	background-color: #ccc;
	border: 1px solid #aaa;
}

.map-toolbar ons-button {
	padding: 2px;
}

.map-toolbar-vertical {
	width: 40px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 0px;
}

.map-toolbar-horizontal {
	height: 36px;
	xoverflow: visible;
	width: 375px;
	padding-top: 2px;
	padding-left: 3px;
	padding-right: 3px;
}

.map-toolbar-vertical ons-button {
	margin-top: 2px;
	margin-bottom: 2px;
}

.map-toolbar-horizontal ons-button {
	margin-left: 0px;
	margin-right: 0px;
	line-height: 26px;
	padding-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
}

.ol-attribution ul {
	width: calc(100% - 50px)!important;
}

.ol-attribution {
	right: 0.2em!important;
	bottom: 0.2em!important;
}

.ol-zoom {
	right: 0.2em!important;
	top: 0.2em!important;
	left: auto!important;
}

.checkbox > input[type="checkbox"]:checked + .checkbox__checkmark:before {
	background: rgba(24,103,194,0.6);
	border: 1px solid rgba(24,103,194,0.81);
}

.tab-bar__button {
	height: 42px;
}
.tab-bar {
	height: 42px;
	background-color: #ffffff;
}
.tab-bar__button {
	color: #444;
}
.tab-bar__label {
	font-weight: 500!important;
	font-size: 13px!important;
}
.tab-bar__icon {
	height: 28px;
}
.carousel-slider {
	position: relative;
	top: 0px;
	height: 4px;
	width: 33%;
	background-color: #7abfff;
	transition: all 0.3s cubic-bezier(0.1, 0.7, 0.1, 1) 0s;
}

.menu-button {
	float: right;
	margin: 4px !important;
}

.server-settings .list__item {
	padding: 0 4px;
}
.settings input {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.left {
	text-align: left;
}
span.ivh-treeview-node-label.ivh-treeview-toggle {
	font-size: 15px!important;
	display: table-cell;
}
span.ivh-treeview-toggle {
	display: table-cell;
	vertical-align:middle;
}
span[ivh-treeview-checkbox="node"] {
	display: table-cell;
	padding: 1px 5px 1px 5px!important;
	vertical-align:middle;
}

.my-grid {
	width: 100%;
	height: 150px;
}


.tree-node {
	border: 1px solid #dae2ea;
	background: #f8faff;
	color: #7c9eb2;
}
.tree-node-content {
	margin: 10px;
}
.tree-handle {
	padding: 10px;
	background: #428bca;
	color: #FFF;
	margin-right: 10px;
}
.angular-ui-tree-handle:hover {
}
.angular-ui-tree-placeholder {
	background: #f0f9ff;
	border: 2px dashed #bed2db;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.btn {
	width: 25px;
}
.ivh-treeview ul, ul.ivh-treeview {
	list-style-type: none;
}

ul.ivh-treeview {
	padding-left: 5px;
}
ul.ivh-treeview.ng-scope {
	padding-left: 20px;
}

div.page__content {
	overflow: hidden; position: relative;
}

div.legend-container {
	background-color: white;
}
img.legend-item {
	display: block;
}

.ivh-treeview li {
	padding-top: 5px;
	padding-bottom: 5px;
}
.ivh-treeview input[type="checkbox"] {
	width: 25px;
	height: 25px;
}

x.ivh-treeview-twistie-leaf div {
	margin-top: 20px;
}

.checkbox {
	margin-top: 0px;
	margin-bottom: 1px;
}


.layers-container select {
	width: 90%;
	height: 30px;
	margin: 10px;
}

li.depth-2 {
	padding-left: 15px;
}
li.depth-3 {
	padding-left: 30px;
}

.point-layer-icon, .point-layer-icon-queryable, .line-layer-icon, .line-layer-icon-queryable, .polygon-layer-icon, .polygon-layer-icon-queryable, .raster-layer-icon {
	background-image: url('../images/layer-geometry.png')!important;
	background: no-repeat;
	width: 18px;
	height: 18px;
	display: inline-block;
}
.point-layer-icon {
	background-position: 0px 0px !important;
	background-position-x: 0px !important;
	background-position-y: 0px !important;
}
.point-layer-icon-queryable {
	background-position: 0px -18px !important;
	background-position-x: 0px !important;
	background-position-y: -18px !important;
}
.line-layer-icon {
	background-position: 0px -36px !important;
	background-position-x: 0px !important;
	background-position-y: -36px !important;
}
.line-layer-icon-queryable {
	background-position: 0px -54px !important;
	background-position-x: 0px !important;
	background-position-y: -54px !important;
}
.polygon-layer-icon {
	background-position: 0px -72px !important;
	background-position-x: 0px !important;
	background-position-y: -72px !important;
}
.polygon-layer-icon-queryable {
	background-position: 0px -90px !important;
	background-position-x: 0px !important;
	background-position-y: -90px !important;
}
.raster-layer-icon {
	background-position: 0px -108px !important;
	background-position-x: 0px !important;
	background-position-y: -108px !important;
}

.webgis-button.panel span, .webgis-button.menu span {
	padding: 4px;
	line-height: 22px;
}

.webgis-button {
	position: absolute;
	background: rgba(255,255,255,0.4);
	border-radius: 4px;
	padding: 0px;
	vertical-align: middle;
}
.webgis-button.panel {
	top: 9px;
	left: 9px;
}
.webgis-button.menu {
	top: 90px;
	right: 9px;
}
xx.webgis-button {
	display: block;
	color: white;
	font-size: 16px;
	font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
	font-weight: bold;
	margin: 1px;
	text-decoration: none;
	text-align: center;
	border-radius: 2px;
	height: 22px;
	width: 26px;
	background: rgba(0,60,136,0.5);
	padding-top: 4px;
}
