@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-o-min-device-pixel-ratio: 15/10)

{

}

@-moz-document url-prefix() { 
	ons-scroller {
		overflow: hidden!important;
		overflow-x: hidden!important;
	}
}

@media screen and (orientation: portrait) {
	.ol-zoom {
		right: 0.2em!important;
		xtop: 3em!important;
		top: 0.2em!important;
		left: auto!important;
	}
}

@media screen and (orientation: landscape) {
	.ol-zoom {
		right: 0.2em!important;
		top: 0.2em!important;
		left: auto!important;
	}
}

.page__content {
	margin-top: 0px!important;
}

.map-toolbar {
	position: absolute;
	top:1px;
	left: 1px;
	padding: 1px;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.4);
}

.map-toolbar-horizontal ons-scroller {
	height: 40px;
}

.map-toolbar-horizontal .ons-scroller__content {
	height: 36px;
	width: auto;
	display: inline-block;
	white-space:nowrap;
}

.map-toolbar-horizontal {
	height: 40px;
}

.map-toolbar-vertical {
	width: 40px;
}

.map-toolbar .ons-icon {
	width: 36px;
	height: 36px;
	vertical-align: middle;
	line-height: 36px!important;
}
.map-toolbar ons-button {
	height: 36px;
	padding: 0px;
	margin: 2px;
}

.map-toolbar .fa {
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px!important;
	font-size: 24px;
}
.ol-control button {
	background-color: rgba(100, 100, 100, 0.8)!important;
}
.ol-control button:hover {
	background-color: rgba(150, 150, 150, 0.8)!important;
}
.map-toolbar ons-button {
	background-color: rgba(100, 100, 100, 0.8);
}
.map-toolbar .ng-click-active ons-icon {
	background-color: rgba(100, 100, 100, 0.8)!important;
}
.map-toolbar ons-button.activated {
	xbackground-color: rgba(250, 20, 20, 0.4);
	background-color: #d40000;
}

.map-toolbar input {
	opacity: 0.001;
	z-index: 1;
	position: absolute;
	left: 0px;
	top: -6px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 36px;
	height: 36px;
}

:checked + ons-icon {
	color: #7abfff;
	background-color: rgba(250, 20, 20, 0.4);
}
:checked + ons-button {
	color: #ff0000;
}

.ol-attribution ul {
	width: calc(100% - 50px)!important;
}

.ol-attribution {
	right: 0.2em!important;
	bottom: 0.2em!important;
}

.checkbox > input[type="checkbox"]:checked + .checkbox__checkmark:before {
	background: rgba(24,103,194,0.6);
	border: 1px solid rgba(24,103,194,0.81);
}

.tab-bar--top {
	border: none;
	background-color: #ddd;
}
.tab-bar__button {
	height: 33px;
	background-color: #ddd;
}
:checked + .tab-bar__button {
	background-color: gray;
}
:checked + .tab-bar__button, :checked + .tab-bar__button .tab-bar__icon {
	color: white;
}
.tab-bar {
	height: 33px;
}
.tab-bar__button {
	xborder-right: 1px solid gray;
	color: #555;
}
.tab-bar__label {
	font-size: 12px!important;
}
.tab-bar__icon {
	width: 100%;
	height: 16px;
	line-height: 15px;
	vertical-align:top;
	font-size: 19px;
}
.tab-bar__icon::before {
	line-height: 0px!important;
}
.carousel-slider-bg {
	background-color: #bbb;
	xborder-bottom: 1px solid gray;
}
.carousel-slider {
	height: 3px;
	xbackground-color: white;
	xbackground-color: #7abfff;
	background-color: #d40000;
	transition: all 0.3s cubic-bezier(0.1, 0.7, 0.1, 1) 0s;
}

.menu-button {
	float: right;
	margin: 4px !important;
}

.server-settings .list__item {
	padding: 0 4px;
}
.settings input {
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.left {
	text-align: left;
}
span.ivh-treeview-node-label {
	font-size: 15px!important;
	padding-left: 5px;
}
span.ivh-treeview-toggle {
	display: table-cell;
	vertical-align:middle;
}

span[ivh-treeview-checkbox="node"] {
	display: table-cell;
	vertical-align: middle;
}

.my-grid {
	width: 100%;
	height: 150px;
}


.tree-node {
	border: 1px solid #dae2ea;
	background: #f8faff;
	color: #7c9eb2;
}
.tree-node-content {
	margin: 10px;
}
.tree-handle {
	padding: 10px;
	background: #428bca;
	color: #FFF;
	margin-right: 10px;
}
.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
	background: #f0f9ff;
	border: 2px dashed #bed2db;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.btn {
	width: 25px;
}

.ivh-treeview ul, ul.ivh-treeview {
	list-style-type: none;
}

ul.ivh-treeview {
	padding-left: 5px;
	margin: 0;
}
ul.ivh-treeview.ng-scope {
	padding-left: 20px;
}

div.page__content {
	overflow: hidden; position: relative;
}

div.legend-container {
	background-color: white;
	height: auto;
}
img.legend-item {
	display: block;
}


.checkbox, .radio-button {
	margin-top: 1px;
	margin-bottom: 1px;
	line-height: 1;
	padding-left: 5px;
}


.layers-container select {
	width: 90%;
	height: 30px;
	margin: 10px;
}

.depth-2 {
	padding-left: 15px;
	xwidth: 90%;
}
.depth-3 {
	padding-left: 30px;
	xwidth: 90%;
}


.ivh-treeview-twistie-leaf {
	line-height: 1;
	display: table-cell;
	vertical-align: middle;
}
.ivh-treeview-twistie-expanded, .ivh-treeview-twistie-collapsed {
	vertical-align: middle;
}

.ivh-treeview-twistie {
	height: 40px;
	display: table-cell;
	vertical-align: middle;
}

.ivh-treeview-twistie, span[ivh-treeview-checkbox="node"] {
	color: gray;
}

.point-layer-icon, .point-layer-icon-queryable, .line-layer-icon, .line-layer-icon-queryable, .polygon-layer-icon, .polygon-layer-icon-queryable, .raster-layer-icon {
	background-image: url('../images/layer-geometry.png')!important;
	background: no-repeat;
	width: 18px;
	height: 18px;
	display: inline-block;
}
.point-layer-icon {
	background-position: 0px 0px !important;
	background-position-x: 0px !important;
	background-position-y: 0px !important;
}
.point-layer-icon-queryable {
	background-position: 0px -18px !important;
	background-position-x: 0px !important;
	background-position-y: -18px !important;
}
.line-layer-icon {
	background-position: 0px -36px !important;
	background-position-x: 0px !important;
	background-position-y: -36px !important;
}
.line-layer-icon-queryable {
	background-position: 0px -54px !important;
	background-position-x: 0px !important;
	background-position-y: -54px !important;
}
.polygon-layer-icon {
	background-position: 0px -72px !important;
	background-position-x: 0px !important;
	background-position-y: -72px !important;
}
.polygon-layer-icon-queryable {
	background-position: 0px -90px !important;
	background-position-x: 0px !important;
	background-position-y: -90px !important;
}
.raster-layer-icon {
	background-position: 0px -108px !important;
	background-position-x: 0px !important;
	background-position-y: -108px !important;
}

.webgis-button.panel span, .webgis-button.menu span {
	padding: 4px;
	line-height: 22px;
}

.webgis-button {
	position: absolute;
	background: rgba(255,255,255,0.4);
	border-radius: 4px;
	padding: 0px;
	vertical-align: middle;
}
.webgis-button.panel {
	top: 9px;
	left: 9px;
}
.webgis-button.menu {
	top: 90px;
	right: 9px;
}
xx.webgis-button {
	display: block;
	color: white;
	font-size: 16px;
	font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
	font-weight: bold;
	margin: 1px;
	text-decoration: none;
	text-align: center;
	border-radius: 2px;
	height: 22px;
	width: 26px;
	background: rgba(0,60,136,0.5);
	padding-top: 4px;
}

.ui-grid-render-container, .ui-grid-viewport {
	height: 100%!important;
}
.ui-grid-header-cell {
	font-size: 13px;
}
.ui-grid-row {
	font-size: 14px;
}
.ui-grid-column-menu-button-last-col {
	margin-right: 0px;
}


.radio-button__icon-checkmark::before, .checkbox__icon-checkmark::before {
	width: 28px;
	height: 28px;
	content: "\f3a6";
	text-align: center;
	display: inline-block;
	font-family: "Ionicons";
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 28px;
	text-rendering: auto;
	text-transform: none;
}
.radio-button > input[type="radio"]:checked + .radio-button__icon-checkmark::before {
	content: "\f3a7";
}
.checkbox > input[type="checkbox"]:checked + .checkbox__icon-checkmark::before {
	content: "\f120";
}
.checkbox > input[type="checkbox"]:indeterminate + .checkbox__icon-checkmark::before {
	content: "\f275";
}

.scroll-top-indicator-bg {
	width: 36px;
	height: 26px;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.3),transparent),-webkit-radial-gradient(50% 20%, 120% 100%,white,rgba(255, 255, 255, 0.2),transparent);
	background: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.3),transparent),radial-gradient(120% 100% at 50% 20%,white,rgba(255, 255, 255, 0),transparent);
	position: absolute;
	pointer-events: none;
	left: 3px;
	top: 1px;
}
.scroll-bottom-indicator-bg {
	width: 36px;
	height: 24px;
	background: -webkit-linear-gradient(transparent, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6)),-webkit-radial-gradient(50% 80%, 120% 100%,white,rgba(255, 255, 255, 0.2),transparent);
	background: linear-gradient(transparent, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6)),radial-gradient(120% 100% at 50% 80%,white,rgba(255, 255, 255, 0),transparent);
	position: absolute;
	pointer-events: none;
	left: 3px;
	bottom: 1px;
}
.map-toolbar .ons-icon.scroll-top-indicator {
	height: 25px;
	position: absolute;
	left: 0;
	top: -6px;
	line-height: 25px!important;
	pointer-events: none;
	font-size: 25px;
}
.map-toolbar .ons-icon.scroll-bottom-indicator {
	height: 25px;
	position: absolute;
	left: 0;
	bottom: -6px;
	pointer-events: none;
	font-size: 25px;
	line-height: 25px!important;
}

.main-panel .navigation-bar {
	height: 36px;
	background-color: #ddd;
	border-bottom: 2px solid #bbb;
}
.main-panel .navigation-bar__item, .main-panel .navigation-bar__left, .main-panel .navigation-bar__right, .main-panel .navigation-bar__center {
	height: 36px;
}
.main-panel ons-toolbar ~ .page__content {
	top: 36px;
}

.main-panel .navigation-bar__title, .main-panel .navigation-bar__line-height {
	line-height: 36px;
}

.list__item header {
	line-height: 32px;
}

.topics .list-item-desc {
	font-size: 13px;
	color: #666;
}

.topics .list-item-title {
	font-size: 15px;
	line-height: 1.2em;
}

.topics .list__item {
	min-height: 0px;
	padding-left: 0px;
}

.list__item.item-accordion {
	line-height: 20px;
	padding: 0 6px 0 10px;
	border-bottom: 1px solid #ddd;
	transition: 0.1s all linear;
	xtransition: all 0.1s cubic-bezier(0.42,0,0.58,1) 0s;
}
.item-accordion label {
	font-weight: bold;
	display: block;
}
.item-accordion label::before {
	max-height: 8px;
	display: block;
	content: "\00a0"
}

.list__item.item-accordion.ng-hide, .list__item.item-accordion.ng-hide.label {
	line-height: 0px!important;
	opacity: 0.01;
}

.item-accordion.ng-hide-add,
.item-accordion.ng-hide-remove {
	display: block !important;
}

.topics .list-item-title::before {
	color: #aaa;
	content: "\f107";
	font-family: FontAwesome;
	font-size: 28px;
	font-style: normal;
	font-weight: normal;
	height: 28px;
	line-height: 28px;
	position: absolute;
	left: 5px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	pointer-events: none;
	display: inline-block;
}

.topics .list-item-title.expanded::before {
	content: "\f106";
}

.topics .expanded .list__item--tappable {
	background-color: #eee;
}
.topics .expanded .list__item--tappable:active {
	background-color: #d9d9d9;
}
