<ons-page ng-controller="TopicsController">
	<ons-toolbar fixed-style>
		<div class="left"></div>
		<div class="center">Topics</div>
		<div class="right">
<!--			<ons-toolbar-button><ons-icon icon="ion-compose"></ons-icon></ons-toolbar-button>-->
		</div>
	</ons-toolbar>
	<ons-scroller style="height: {{ panelHeight }}px;">
		<ons-list class="topics">
			<div ng-repeat="topic in ::topics" ng-class="{expanded: isDetailShown(topic)}">
				<ons-list-item modifier="tappable">
					<ons-row>
						<ons-col width="30px" ng-click="toggleTopicDetail(topic)">
						</ons-col>
						<ons-col ng-click="loadTopic(topic)">
							<span class="list-item-title" >{{ ::topic.title }}</span>
						</ons-col>
					</ons-row>
				</ons-list-item>
				<ons-list-item class="list-item-desc item-accordion" ng-show="isDetailShown(topic)">
					<label>Abstract:</label>
					<span>{{ ::topic.abstract }}</span>
					<label>Visible layers:</label>
					<span>{{ ::topic.visible_overlays.join(', ') }}</span>
				</ons-list-item>
			</div>
		</ons-list>
	</ons-scroller>
</ons-page>
