.settings .list__item {
	line-height: 22px!important;
	padding: 5px;
	transition: 0s linear all;
}
.settings .list__item .item-content {
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	xdisplay:table-cell;
	xvertical-align: center;
	xheight: 100%;
}

.about label {
	font-weight: bold;
	display: inline-block;
}

.about .list__item {
	font-size: 15px!important;
	padding-left: 3px;
	padding-right: 3px;
	color: #555;
}
.about .navigation-bar {
	background-color: #f7f7f7;
	border: none;
}

.tab-panel.navigation-bar {
	height: 36px;
	background-color: transparent;
	border-bottom: 1px solid #ddd;
}
.tab-panel .navigation-bar__item, .tab-panel .navigation-bar__center {
	height: 36px;
}

.tab-panel .button-bar {
	margin: 4px auto 0!important;
}

.button-bar__item.active > .button-bar__button, *:checked + .button-bar__button {
	background-color: rgba(212, 0, 0, 0.77);
	color: #fff;
}

.button-bar__button {
	color: rgba(212, 0, 0, 0.77);
	border-color: rgba(212, 0, 0, 0.77)!important;
}

.button-bar__button:active, *:active + .button-bar__button {
	background-color: rgba(212, 0, 0, 0.12);
}
