.settings .list__item {
	line-height: 22px!important;
	padding: 5px;
}
.settings .list__item .item-content {
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	xdisplay:table-cell;
	xvertical-align: center;
	xheight: 100%;
}
.about .toolbar-button--quiet i {
	height: 36px!important;
	font-size: 30px!important;
	color: #555;
}
.about .toolbar-button--quiet i::before {
	line-height: 20px!important;
	height: 36px!important;
	vertical-align: middle;
}

.about label {
	font-weight: bold;
	display: inline-block;
}

.about .list__item {
	font-size: 15px!important;
	padding-left: 3px;
	padding-right: 3px;
	color: #555;
}
.about .navigation-bar {
	background-color: #f7f7f7;
	border-bottom: 1px solid #ddd;
}
