<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />

	<title>GIS.lab mobile client</title>

	<link rel="stylesheet" href="lib/onsen/css/onsenui.css">
	<link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
	<link rel="stylesheet" href="lib/ui-grid/ui-grid.css">
	<link rel="stylesheet" href="lib/ivh-treeview/ivh-treeview.css">
	<link rel="stylesheet" href="styles/app.css"/>

	<script src="lib/onsen/js/angular/angular.js"></script>
	<script src="lib/onsen/js/angular/angular-touch.js"></script>
	<script src="lib/onsen/js/onsenui.js"></script>
	<script src="lib/ui-grid/ui-grid.js"></script>
	<script src="lib/ivh-treeview/ivh-treeview.js"></script>
	<script src="lib/ngStorage.js"></script>

	<link rel="stylesheet" type="text/css" href="lib/OpenLayers-3.2.1/css/ol.css"/>

	<script type="text/javascript" src="lib/OpenLayers-3.2.1/build/ol-debug.js"></script>
	<script type="text/javascript" src="lib/md5.js"></script>

	<script type="text/javascript">
	// First, checks if it isn't implemented yet.
	if (!String.prototype.format) {
		String.prototype.format = function() {
			var args = arguments;
			return this.replace(/{(\d+)}/g, function(match, number) {
				return typeof args[number] != 'undefined'
					? args[number]
					: match
				;
			});
		};
	}
	</script>

	<script type="text/javascript" src="cordova.js"></script>

	<script type="text/javascript" src="js/mobile/app.js"></script>
	<script type="text/javascript" src="js/mobile/services.js"></script>
	<script type="text/javascript" src="js/mobile/onsen-addons.js"></script>

	<script type="text/javascript" src="js/map/module.js"></script>
	<script type="text/javascript" src="js/map/services/map.js"></script>
	<script type="text/javascript" src="js/map/services/project.js"></script>

	<script type="text/javascript" src="js/ui/module.js"></script>
	<script type="text/javascript" src="js/ui/directives/carousel_slider.js"></script>
	<script type="text/javascript" src="js/ui/directives/scroll_indicator.js"></script>

	<script type="text/javascript" src="js/utils/module.js"></script>
	<script type="text/javascript" src="js/utils/directives/ng-con-attr.js"></script>

	<script type="text/javascript" src="js/tools/module.js"></script>
	<script type="text/javascript" src="js/tools/controllers/layers.js"></script>
	<script type="text/javascript" src="js/tools/controllers/drawings.js"></script>

	<script type="text/javascript" src="js/settings/controllers/project.js"></script>
</head>

<body ng-controller="AppController">
	<ons-navigator var="app.navigator" page="map_container.html">
	</ons-navigator>

<!--	<ons-split-view-->
<!--		var="app.split"-->
<!--		secondary-page="pages/panel.html"-->
<!--		main-page="map.html"-->
<!--		main-page-width="80%"-->
<!--		collapse="portrait">-->
<!--	</ons-split-view>-->


	<ons-template id="map_container.html">
		<ons-page>
			<div style="width: {{ mapWidth }}px;height: {{ mapHeight }}px;">
				<ons-sliding-menu var="app.menu" main-page="map.html" menu-page="panel_tab_container.html" max-slide-distance="261px" swipe-target-width="20px" side="left" swipeable="false" type="reveal">
				</ons-sliding-menu>
			</div>
		</ons-page>
	</ons-template>

<!--	<ons-template id="panel_container.html">-->
<!--		<ons-navigator var="app.panel.navigator" ng-controller="PanelController">-->
<!--		</ons-navigator>-->
<!--	</ons-template>-->

	<ons-template id="panel_tab_container.html">
		<ons-tabbar var="app.panel.tabbar"  hide-tabs="true">
			<ons-tab ng-repeat="tool in ui.toolbar | filter:{page:''}" page="{{ ::tool.page }}" gl-con-attr="{persistent: {{ ::tool.persistent == true }}}" ng-init="tool._tab_index = $index" no-reload>
			</ons-tab>
		</ons-tabbar>
	</ons-template>

	<ons-template id="map.html">
		<ons-page id="map-page">

			<div id="map" style="width: {{ mapWidth }}px; height: {{ mapHeight }}px;"></div>
<!--			<div ons-if-orientation="portrait" class="map-toolbar map-toolbar-horizontal">-->
<!--				<ons-scroller style="max-width: {{ mapWidth }}px; ">-->
<!--					<ons-button ng-repeat="tool in toolbar" ng-click="toolTaped(tool);" ng-class="{activated: tool.activated}">-->
<!--						<ons-icon ng-if="tool.icon" icon="{{ tool.icon }}" size="28px" fixed-width="true"></ons-icon>-->
<!--						<i ng-if="tool.faIcon" class="fa {{ tool.faIcon }}"></i>-->
<!--					</ons-button>-->
<!--				</ons-scroller>-->
<!--			</div>-->
			<div class="map-toolbar map-toolbar-vertical">
				<ons-scroller style="max-height: {{ mapHeight }}px;">

					<ons-button ng-repeat="tool in ::ui.toolbar" ng-click="toolTaped(tool);" ng-class="{activated: tool.activated}">
						<ons-icon ng-if="tool.icon" icon="{{ ::tool.icon }}" size="28px" fixed-width="true"></ons-icon>
						<i ng-if="tool.faIcon" class="fa {{ ::tool.faIcon }}"></i>
					</ons-button>

					<gl-scroll-indicator gl-orientation="top" gl-update-on="mapHeight">
						<div class="scroll-top-indicator-bg">
							<ons-icon class="scroll-top-indicator" icon="ion-android-arrow-dropup" size="28px" fixed-width="true"></ons-icon>
						</div>
					</gl-scroll-indicator>
					<gl-scroll-indicator gl-orientation="bottom" gl-update-on="mapHeight">
						<div class="scroll-bottom-indicator-bg" gl-scroll-indicator="bottom">
							<ons-icon class="scroll-bottom-indicator" icon="ion-android-arrow-dropdown" size="28px" fixed-width="true"></ons-icon>
						</div>
					</gl-scroll-indicator>
				</ons-scroller>
			</div>
		</ons-page>
	</ons-template>


	<ons-template id="menu.html">
		<ons-page>
			<ons-list>
				<ons-list-item modifier="chevron" ng-click="app.navigator.pushPage('pages/settings/main.html', { animation: 'fade' });">Settings</ons-list-item>
				<ons-list-item modifier="chevron" ng-click="app.navigator.pushPage('about_project.html', { animation: 'slide' });">About Project</ons-list-item>
				<ons-list-item modifier="chevron" ng-click="app.navigator.pushPage('about_gislab.html', { animation: 'lift' });">About GIS.lab</ons-list-item>
			</ons-list>
		</ons-page>
	</ons-template>
	<ons-template id="about_project.html">
		<ons-page>
			<ons-toolbar fixed-style>
				<div class="left"><ons-back-button>Back</ons-back-button></div>
				<div class="center">Project information</div>
			</ons-toolbar>
			<ons-list>
				<ons-list-header>Title</ons-list-header><ons-list-item ng-bind="::project.config.root_title"></ons-list-item>
				<ons-list-header>Author</ons-list-header><ons-list-item ng-bind="::project.config.author"></ons-list-item>
				<ons-list-header>E-mail</ons-list-header><ons-list-item ng-bind="::project.config.email"></ons-list-item>
				<ons-list-header>Phone</ons-list-header><ons-list-item ng-bind="::project.config.phone"></ons-list-item>
				<ons-list-header>Organization</ons-list-header><ons-list-item ng-bind="::project.config.organization"></ons-list-item>
				<ons-list-header>Abstract</ons-list-header><ons-list-item ng-bind="::project.config.abstract"></ons-list-item>
				<ons-list-header>Online resource</ons-list-header>
				<ons-list-item>
					<a target="_blank" ng-href="{{ ::project.config.online_resource }}" ng-bind="::project.config.online_resource"></a>
				</ons-list-item>
				<ons-list-header>Fees</ons-list-header><ons-list-item ng-bind="::project.config.fees"></ons-list-item>
				<ons-list-header>Access constraints</ons-list-header><ons-list-item ng-bind="::project.config.access_constrains"></ons-list-item>
				<ons-list-header>Keywords list</ons-list-header><ons-list-item>{{ ::project.keyword_list.join(', ') }}</ons-list-item>
				<ons-list-header>Publish date</ons-list-header><ons-list-item ng-bind="::project.config.publish_date"></ons-list-item>
			</ons-list>
		</ons-page>
	</ons-template>
	<ons-template id="about_gislab.html">
		<ons-page>
			<ons-toolbar fixed-style>
				<div class="left"><ons-back-button>Back</ons-back-button></div>
				<div class="center">GIS.lab</div>
			</ons-toolbar>
			<ons-list>
				<ons-list-header>GIS.lab ID</ons-list-header><ons-list-item ng-bind="::project.config.gislab_unique_id"></ons-list-item>
				<ons-list-header>Version</ons-list-header><ons-list-item ng-bind="::project.config.gislab_version"></ons-list-item>
				<ons-list-header>Home page</ons-list-header>
				<ons-list-item>
					<a target="_blank" ng-href="{{ ::project.config.gislab_homepage }}" ng-bind="::project.config.gislab_homepage"></a>
				</ons-list-item>
				<ons-list-header>Documentation</ons-list-header>
				<ons-list-item>
					<a target="_blank" ng-href="{{ ::project.config.gislab_documentation }}" ng-bind="::project.config.gislab_documentation" ng-click="openLink('fake');"></a>
				</ons-list-item>
			</ons-list>
		</ons-page>
	</ons-template>
</body>
</html>
