<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />

	<title>GIS.lab mobile client</title>

	<link rel="stylesheet" href="lib/onsen/css/onsenui.css">
	<link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
	<link rel="stylesheet" href="lib/ui-grid/ui-grid.css">
	<link rel="stylesheet" href="lib/ivh-treeview/ivh-treeview.css">
	<link rel="stylesheet" href="styles/app.css"/>

	<script src="lib/onsen/js/angular/angular.js"></script>
	<script src="lib/onsen/js/angular/angular-touch.js"></script>
	<script src="lib/onsen/js/onsenui.js"></script>
	<script src="lib/ui-grid/ui-grid.js"></script>
	<script src="lib/ivh-treeview/ivh-treeview.js"></script>
	<script src="lib/ngStorage.js"></script>

	<link rel="stylesheet" type="text/css" href="lib/OpenLayers-3.2.1/css/ol.css"/>

	<script type="text/javascript" src="lib/OpenLayers-3.2.1/build/ol-debug.js"></script>
	<script type="text/javascript" src="lib/md5.js"></script>

	<script type="text/javascript">
	// First, checks if it isn't implemented yet.
if (!String.prototype.format) {
  String.prototype.format = function() {
    var args = arguments;
    return this.replace(/{(\d+)}/g, function(match, number) { 
      return typeof args[number] != 'undefined'
        ? args[number]
        : match
      ;
    });
  };
}
</script>

	<script type="text/javascript" src="cordova.js"></script>
	<script type="text/javascript" src="js/map.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-controller="AppController">
	<ons-navigator var="app.navigator" page="main_page.html">
	</ons-navigator>

<!--	<ons-split-view-->
<!--		var="app.split"-->
<!--		secondary-page="pages/panel.html"-->
<!--		main-page="map.html"-->
<!--		main-page-width="80%"-->
<!--		collapse="portrait">-->
<!--	</ons-split-view>-->

	<ons-template id="start.html">
		<ons-navigator var="app.navigator" page="main_page.html">
		</ons-navigator>
	</ons-template>

	<ons-template id="main_page.html">
		<ons-page>
		<div style="width: {{ screenWidth }}px;height: {{ screenHeight }}px;">
			<ons-sliding-menu var="app.menu2" main-page="map_container.html" menu-page="menu.html" max-slide-distance="260px" type="overlay" side="right" swipeable="false">
			</ons-sliding-menu>
		</div>
		</ons-page>
	</ons-template>

	<ons-template id="map_container.html">
		<ons-page>
		<div style="width: {{ screenWidth }}px;height: {{ screenHeight }}px;">
		<ons-sliding-menu var="app.menu" main-page="map.html" menu-page="pages/panel.html" max-slide-distance="260px" swipe-target-width="20px" side="left" swipeable="false" type="reveal">
		</ons-sliding-menu>
		</div>
		</ons-page>
	</ons-template>

	<ons-template id="map.html">
		<ons-page id="map-page" ng-controller="MapController">
			<div ons-if-orientation="landscape" class="map-toolbar-container">
				<ons-scroller style="width: 40px; height: {{ mapHeight }}px; border-bottom: 1px solid #ccc; background-color: white;">
					<div class="map-toolbar map-toolbar-vertical" style="min-height: {{ mapHeight }}px;">
						<ons-button ng-click="app.menu.toggleMenu({autoCloseDisabled: true});">
							<ons-icon icon="ion-social-buffer" size="24px" fixed-width="true"></ons-icon>
						</ons-button>
						<ons-button><ons-icon icon="ion-qr-scanner" size="24px" fixed-width="true"></ons-icon></ons-button>
						<ons-button><ons-icon icon="ion-location" size="24px" fixed-width="true"></ons-icon></ons-button>
						<ons-button><ons-icon icon="ion-information-circled" size="24px" fixed-width="true"></ons-icon></ons-button>
						<ons-button><ons-icon icon="ion-search" size="24px" fixed-width="true"></ons-icon></ons-button>
						<ons-button><ons-icon icon="ion-edit" size="24px" fixed-width="true"></ons-icon></ons-button>
						<ons-button><ons-icon icon="ion-printer" size="24px" fixed-width="true"></ons-icon></ons-button>
						<ons-button ng-click="app.menu2.toggleMenu();"><ons-icon icon="ion-gear-b" size="24px" fixed-width="true"></ons-icon></ons-button>
						<ons-button><ons-icon icon="ion-nuclear" size="24px" fixed-width="true"></ons-icon></ons-button>
					</div>
				</ons-scroller>
			</div>

			<div ons-if-orientation="portrait" class="map-toolbar-container">
				<ons-scroller style="height: 40px; width: {{ mapWidth }}px; border-bottom: 1px solid #ccc; background-color: white;">
					<div class="map-toolbar map-toolbar-horizontal" style="min-width: {{ mapWidth }}px;">
						<ons-button ng-click="app.menu.toggleMenu({autoCloseDisabled: true});">
							<ons-icon icon="ion-social-buffer" size="24px" fixed-width="true"></ons-icon>
						</ons-button>
						<ons-button><ons-icon icon="ion-qr-scanner" size="24px" fixed-width="true"></ons-icon></ons-button>
						<ons-button><ons-icon icon="ion-location" size="24px" fixed-width="true"></ons-icon></ons-button>
						<ons-button><ons-icon icon="ion-information-circled" size="24px" fixed-width="true"></ons-icon></ons-button>
						<ons-button><ons-icon icon="ion-search" size="24px" fixed-width="true"></ons-icon></ons-button>
						<ons-button><ons-icon icon="ion-edit" size="24px" fixed-width="true"></ons-icon></ons-button>
						<ons-button><ons-icon icon="ion-printer" size="24px" fixed-width="true"></ons-icon></ons-button>
						<ons-button ng-click="app.menu2.toggleMenu();"><ons-icon icon="ion-gear-b" size="24px" fixed-width="true"></ons-icon></ons-button>
						<ons-button><ons-icon icon="ion-nuclear" size="24px" fixed-width="true"></ons-icon></ons-button>
					</div>
				</ons-scroller>
			</div>

			<div id="map" style="width: {{ mapWidth }}px; height: {{ mapHeight }}px;"></div>
		</ons-page>
	</ons-template>

	<ons-template id="panelx.html">
		<ons-navigator animation="slide" var="app.navi">
			<ons-page>
				<ons-toolbar fixed-style>
					<div class="left"><ons-toolbar-button ng-click="app.navi.pushPage('legend.html');"><ons-icon icon="ion-compose"></ons-icon></ons-toolbar-button></div>
					<div class="center">Layers</div>
					<div class="right"></div>
				</ons-toolbar>
				<ons-scroller style="height: {{ panelHeight }}px; border-bottom: 1px solid #ccc; background-color: white;">
					<div class="layers-container">
						<ons-list>
							<ons-list-item ng-click="app.navi.pushPage('base_layer.html');" modifier="chevron" ng-bind="baseLayer.title"></ons-list-item>
						</ons-list>
						<div
							ivh-treeview="layers"
							ivh-treeview-change-handler="layersVisibilityChanged"
							ivh-treeview-expand-to-depth="-1">
						</div>
						<p ng-bind="position.text"></p>
						<p ng-bind="error"></p>
					</div>
				</ons-scroller>
			</ons-page>
		</ons-navigator>
		</ons-page>
	</ons-template>

	<ons-template id="base_layer.html">
		<ons-page>
			<ons-toolbar fixed-style>
				<div class="left"><ons-toolbar-button ng-click="app.navi.popPage('base_layer.html');"><ons-icon icon="ion-compose"></ons-icon></ons-toolbar-button></div>
				<div class="center">Base layer</div>
				<div class="right"></div>
			</ons-toolbar>
			<ons-scroller style="height: {{ panelHeight }}px; border-bottom: 1px solid #ccc; background-color: white;">
				<div class="baselayer-container">
					<ul class="list">
						<li class="{{ layer.isGroup? 'list__header' : 'list__item' }} list__item--chevron depth-{{ layer.depth }}" ng-click="layer.isGroup || (setBaseLayer(layer) || app.navi.popPage('base_layer.html'))" ng-repeat="layer in baseLayersList">
							{{ layer.title }}
						</li>
					</ul>
				</div>
			</ons-scroller>
		</ons-page>
	</ons-template>

	<ons-template id="legend.html">
		<ons-page>
			<ons-toolbar fixed-style>
				<div class="left"><ons-toolbar-button ng-click="app.navi.popPage('legend.html');"><ons-icon icon="ion-compose"></ons-icon></ons-toolbar-button></div>
				<div class="center">Legend</div>
				<div class="right"></div>
			</ons-toolbar>
			<ons-scroller style="height: {{ panelHeight }}px; border-bottom: 1px solid #ccc; background-color: white;">
				<div class="legend-container">
					<img class="legend-item" ng-repeat="layer in layersList" ng-if="layer.visible && !layer.isGroup" ng-src="{{ layer.legendUrl }}" />
				</div>
			</ons-scroller>
		</ons-page>
	</ons-template>


	<ons-template id="grid.html">
		<ons-page>
			<ons-toolbar fixed-style>
				<div class="left"><ons-toolbar-button ng-click="app.navi.popPage('grid.html');"><ons-icon icon="ion-compose"></ons-icon></ons-toolbar-button></div>
				<div class="center">Grid</div>
				<div class="right"></div>
			</ons-toolbar>
			<div ui-grid="gridOptions" ui-grid-edit class="my-grid"></div>
		</ons-page>
	</ons-template>


	<ons-template id="menu.html">
		<ons-page>
			<ons-list>
				<ons-list-item modifier="chevron" ng-click="app.navigator.pushPage('settings.html', { animation: 'fade' });">Settings</ons-list-item>
				<ons-list-item modifier="chevron" ng-click="app.navigator.pushPage('about_project.html', { animation: 'slide' });">Project information</ons-list-item>
				<ons-list-item modifier="chevron" ng-click="app.navigator.pushPage('about_gislab.html', { animation: 'lift' });">GIS.lab</ons-list-item>
			</ons-list>
		</ons-page>
	</ons-template>
	<ons-template id="about_project.html">
		<ons-page>
			<ons-toolbar fixed-style>
				<div class="left"><ons-back-button>Back</ons-back-button></div>
				<div class="center">Project information</div>
			</ons-toolbar>
			<ons-list>
				<ons-list-header>Title</ons-list-header><ons-list-item ng-bind="project.root_title"></ons-list-item>
				<ons-list-header>Author</ons-list-header><ons-list-item ng-bind="project.author"></ons-list-item>
				<ons-list-header>E-mail</ons-list-header><ons-list-item ng-bind="project.email"></ons-list-item>
				<ons-list-header>Phone</ons-list-header><ons-list-item ng-bind="project.phone"></ons-list-item>
				<ons-list-header>Organization</ons-list-header><ons-list-item ng-bind="project.organization"></ons-list-item>
				<ons-list-header>Abstract</ons-list-header><ons-list-item ng-bind="project.abstract"></ons-list-item>
				<ons-list-header>Online resource</ons-list-header>
				<ons-list-item>
					<a target="_blank" href="{{ project.online_resource }}" ng-bind="project.online_resource"></a>
				</ons-list-item>
				<ons-list-header>Fees</ons-list-header><ons-list-item ng-bind="project.fees"></ons-list-item>
				<ons-list-header>Access constraints</ons-list-header><ons-list-item ng-bind="project.access_constrains"></ons-list-item>
				<ons-list-header>Keywords list</ons-list-header><ons-list-item>{{ project.keyword_list.join(', ') }}</ons-list-item>
				<ons-list-header>Publish date</ons-list-header><ons-list-item ng-bind="project.publish_date"></ons-list-item>
			</ons-list>
		</ons-page>
	</ons-template>
	<ons-template id="about_gislab.html">
		<ons-page>
			<ons-toolbar fixed-style>
				<div class="left"><ons-back-button>Back</ons-back-button></div>
				<div class="center">GIS.lab</div>
			</ons-toolbar>
			<ons-list>
				<ons-list-header>GIS.lab ID</ons-list-header><ons-list-item ng-bind="project.gislab_unique_id"></ons-list-item>
				<ons-list-header>Version</ons-list-header><ons-list-item ng-bind="project.gislab_version"></ons-list-item>
				<ons-list-header>Home page</ons-list-header>
				<ons-list-item>
					<a target="_blank" href="{{ project.gislab_homepage }}" ng-bind="project.gislab_homepage"></a>
				</ons-list-item>
				<ons-list-header>Documentation</ons-list-header>
				<ons-list-item>
					<a target="_blank" href="javascript:void(0);" ng-bind="project.gislab_documentation" ng-click="openLink('fake');"></a>
				</ons-list-item>
			</ons-list>
		</ons-page>
	</ons-template>

	<ons-template id="settings.html">
		<ons-page>
			<ons-toolbar fixed-style>
				<div class="left"><ons-back-button>Back</ons-back-button></div>
				<div class="center">Settings</div>
			</ons-toolbar>
			<ons-list>
				<ons-list-header>Server/account</ons-list-header>
				<ons-list-item modifier="chevron" ng-bind="$storage.serverUrl" ng-click="app.navigator.pushPage('pages/server_settings.html');"></ons-list-item>
				<ons-list-header>Project</ons-list-header>
				<ons-list-item modifier="chevron" ng-bind="$storage.project" ng-click="app.navigator.pushPage('pages/project_settings.html');"></ons-list-item>
			</ons-list>
		</ons-page>
	</ons-template>

</body>
</html>
