<ons-page ng-controller="PanelController">
	<div class="tab-bar tab-bar--top">

		<label class="tab-bar__item">
			<input type="radio" name="panel-tab-radio" value="0" ng-model="ui.panel_tab">
			<button class="tab-bar__button">
				<i class="tab-bar__icon ion-android-map"></i>
				<div class="tab-bar__label">Base layer</div>
			</button>
		</label>

		<label class="tab-bar__item">
			<input type="radio" name="panel-tab-radio" value="1" ng-model="ui.panel_tab">
			<button class="tab-bar__button">
<!--				<i class="tab-bar__icon ion-drag"></i>-->
				<i class="tab-bar__icon ion-social-buffer"></i>
<!--				<i class="tab-bar__icon ion-ios-photos"></i>-->
				<div class="tab-bar__label">Layers</div>
			</button>
		</label>

		<label class="tab-bar__item">
			<input type="radio" name="panel-tab-radio" value="2" ng-model="ui.panel_tab">
			<button class="tab-bar__button">
				<i class="tab-bar__icon ion-android-color-palette"></i>
<!--				<i class="tab-bar__icon ion-ios-list"></i>-->
				<div class="tab-bar__label">Legend</div>
			</button>
		</label>

	</div>
	<ng-carousel-tab-slider ng-tab-model="ui.panel_tab" ng-carousel-var="app.panel.carousel"></ng-carousel-tab-slider>
	<ons-carousel var="app.panel.carousel" class="map-panel" style="width: 100%; height: {{ panelHeight }}px" swipeable auto-scroll>
		<ons-carousel-item>
			<ons-scroller style="height: {{ panelHeight }}px;">
				<div class="baselayer-container">
					<div
						ivh-treeview="baseLayers"
						ivh-treeview-change-handler="baseLayerChanged"
						ivh-treeview-expand-to-depth="-1"
						ivh-treeview-options="baseLayersTreeOptions">
					</div>
				</div>
			</ons-scroller>
		</ons-carousel-item>

		<ons-carousel-item>
			<ons-scroller style="height: {{ panelHeight }}px;">
				<div class="layers-container">
					<div
						ivh-treeview="layers"
						ivh-treeview-change-handler="layersVisibilityChanged"
						ivh-treeview-expand-to-depth="-1"
						ivh-treeview-options="layersTreeOptions"
						>
					</div>
				</div>
			</ons-scroller>
		</ons-carousel-item>

		<ons-carousel-item>
			<ons-scroller style="height: {{ panelHeight }}px;">
				<div class="legend-container">
					<img class="legend-item" ng-repeat="layer in layersList" ng-if="layer.visible && !layer.isGroup" ng-src="{{ layer.legendUrl }}" />
				</div>
			</ons-scroller>
		</ons-carousel-item>
	</ons-carousel>
</ons-page>
